- unless defined? :extra_class then extra_class = nil end
.project{ :class => [ 'unbillable', cycle(:even, :odd, :name => :row), extra_class ] }
  %div
    .status
      &nbsp;
      -# .time= format_time project.completed
      -# logged 

    .info
      .title-bar
        .name= project.name
    .per-day &nbsp;
    .per-day 
      .time= format_time project.completed
      logged

