.controls
  .visibility
    - if @month.projects.detect(&:ended?)
      .control
        .toggle#ended
          .text Hide ended
          .text.remove Show ended
    - if @month.projects.detect{ |p| not p.started? }
      .control
        .toggle#unstarted
          .text Hide unstarted
          .text.remove Show unstarted

= render :partial => 'project', :locals => { :project => @month, :extra_class => 'overall' }
- @month.projects.each do |project|
  - if project.billable?
    = render :partial => 'project', :locals => { :project => project }
  - else
    = render :partial => 'unbillable', :locals => { :project => project }
= render :partial => 'unbillable', :locals => { :project => @month.other, :extra_class => 'other' }
.project{ :class => cycle(:even, :odd, :name => :row) }
  .chart
    .title
      Daily Work
    .wrap
      %img{ :src => @month.chart_url }
