@import "/fonts/stylesheet.css"

$base03:    #002b36
$base02:    #073642
$base01:    #586e75
$base00:    #657b83
$base0:     #839496
$base1:     #93a1a1
$base2:     #eee8d5
$base3:     #fdf6e3
$base01-5:  mix($base02, $base01)
$base1-75:  mix(mix($base1, $base2), $base2)
$yellow:    #b58900
$orange:    #cb4b16
$red:       #dc322f
$magenta:   #d33682
$violet:    #6c71c4
$blue:      #268bd2
$cyan:      #2aa198
$green:     #859900

=color-box($color)
  color: $color
  .close
    color: $color

h2
  color: $base03

ul.ui-menu
  // TODO needs work
  background: $base3
  border-color: $base2
  li.ui-menu-item
    a.ui-corner-all
      color: black
      &.ui-state-hover
        background: $base2

body
  background: $base3
  color: $base00
a
  color: $blue
input[type="text"], input[type="password"]
  background: $base2
  border-color: $base2
  color: $base01
  &:focus
    background: $base3
::-webkit-input-placeholder
  color: $base1
input[type="submit"], a.button
  background: $base02
  color: $base0
  &:hover

#header
  background: $base03
  .title
    h1
      color: $base01
  .user
    color: $base01
    a
      color: $blue

#navigation
  background: $base03
  .menu
    li
      a
        color: $base0
      &.selected
        a
          background: $base01-5
          color: $base1
          text-shadow: none

#subnavigation
  background: $base01-5
  border-color: $base01-5
  color: $base0
  li.tab
    &.selected
      div
        background: $base2
        color: $base01
  
#flash
  background: $base03
  .flash
    .message
      background: $base02
      .close
        color: $base1
    &.notice .message
      +color-box($green)
    &.alert .message
      +color-box($yellow)
    &.warning .message
      +color-box($orange)
    &.error .message
      +color-box($red)

#page
  border-color: $base2
  .project
    .status
      color: $base1 

      .time
        color: $base00

    .per-day
      color: $base1
      .time
        color: $base00
    .progress
      background: $base2
      .wrapper
        .elapsed-bar
          border-right-color: $base01
          &.after
            border-right-color: $base1
        .bar
          background: $green
    .hours
      color: $base1
      .time
        color: $base00
        // color: $green
    .special
      .ahead
        color: $green
    
    &.ahead
      .status .time
        color: $green
    &.behind
      .status
        .time
          color: $red
      .hours .hour.completed
      .progress .bar
        background: $yellow
    &.overall
      background: $base2
      .progress
        background: $base1-75 
    &.header
      background: $base1-75
      text-align: center
      color: $base3
      .status
        color: $base3
      .per-day
        color: $base3
      .hours
        color: $base3
  form
    .hint
      color: $base1
    .project-fields
      &.header
      .info
        background: $base3
        .close
          color: $base1
      &:hover .info .close
        &:hover
          color: $red
      &.deleted
        input
          visibility: hidden
        .name input
          background: $base3
          border-color: $base3
          visibility: visible
          text-decoration: line-through
          color: $base1
          &[disabled='disabled']
            color: $base1
        &:hover .info .close
          &:hover
            color: $cyan

    fieldset
      &.oneline
        .note
          color: $base1
  
body.floating
  background: $base03
  #page
    background: $base3
    form fieldset:nth-of-type(1)
      h2
        color: $base03
