@import "/fonts/stylesheet.css"

// Color Scheme
$gold: #caa91e
$white: #e6e3b2
$blue: #76b8ab
$black: #100f0e
$green: #8f8b1d
$red: #d15028
$orange: mix($red, $gold)

=lighter-font
  font-family: 'DINPro-Light'
=light-font
  // font-family: 'St Ryde'
  // font-weight: normal
  font-family: 'DINPro-Regular'
=bold-font
  // font-family: 'MEgalopolis Extra'
  // font-weight: normal
  font-family: 'DINPro-Bold'
=bolder-font
  font-family: 'DINPro-Black'

body
  +light-font
input[type="text"], input[type="password"]
  +light-font
input[type="submit"], a.button
  +light-font
::-webkit-input-placeholder
  +lighter-font
#header
  .title
    h1
      +bolder-font
#navigation
  .menu
    li
      a
        +light-font
      &.selected
        a
          +bold-font
#subnavigation
  ul li.tab.selected div
  
#page
  .project
    &.overall
      .title-bar
        +bold-font
  .chart
    .title
      +bold-font
  form
    .hint
      +lighter-font
    .project-fields
      &.header
        +bold-font
      .info
        .close
          +bold-font
    fieldset
      .label
        +bold-font
      h2
        +bold-font
      &.oneline
        .note
          +lighter-font
        .name
          +bold-font
  
