@import "/fonts/stylesheet.css"

// Color Scheme
$gold: #caa91e
$white: #e6e3b2
$blue: #76b8ab
$black: #100f0e
$green: #8f8b1d
$red: #d15028
$orange: mix($red, $gold)

=lighter-font
  font-family: 'DINPro-Light'
=light-font
  // font-family: 'St Ryde'
  // font-weight: normal
  font-family: 'DINPro-Regular'
=bold-font
  // font-family: 'MEgalopolis Extra'
  // font-weight: normal
  font-family: 'DINPro-Bold'
=bolder-font
  font-family: 'DINPro-Black'

h2
  +bold-font
body
  +light-font
input[type="text"], input[type="password"]
  +light-font
input[type="submit"], a.button
  +light-font
::-webkit-input-placeholder
  +lighter-font
#header
  .title
    h1
      +bolder-font
#navigation
  .menu
    li
      a
        +light-font
      &.selected
        a
          +bold-font
#subnavigation
  ul li.tab.selected div
    +bold-font
  
#page
  .project
    .status
      // +bolder-font
      +lighter-font

      .time
        // +bold-font
        +light-font

    .main
    .per-day
      text-transform: uppercase
      +lighter-font
      .time
        +light-font

    .hours 
      +lighter-font

      .time
        +light-font

    &.header
      +lighter-font
      text-transform: uppercase

      .status
        +lighter-font
    &.overall
      .title-bar
        .name
          // +bold-font


  .chart
    .title
      +bold-font
  form
    .hint
      +lighter-font
    .project-fields
      &.header
        +bold-font
      .info
        .close
          +bold-font
    fieldset
      .label
        +bold-font
      h2
        +bold-font
      &.oneline
        .note
          +lighter-font
        .name
          +bold-font
  
